# Django Settings
SECRET_KEY=django-insecure-+o8t-lw=)6_mjdck!k6n+v#)5x%&%9bzp#wd74^(9-x^b($bb+
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DATABASE_URL=sqlite:///db.sqlite3

# Email Settings
USE_MAILGUN=False
MAILGUN_API_KEY=your_mailgun_api_key_here
MAILGUN_SENDER_DOMAIN=your_domain.mailgun.org
DEFAULT_FROM_EMAIL=Django TailwindCSS <noreply@localhost>

# Frontend URL
FRONTEND_URL=http://localhost:8000
